{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="container">
  {% include 'items/partials/pageheader.html' %}
  <div class="main-content">
    {% block content %}
    {% endblock %}
  </div>
</div>

{% block scripts %}
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>

  <script src="{% static 'scripts/app.js' %}"></script>
  <script src="{% static 'scripts/controllers/main.ctrl.js' %}"></script>
{% endblock %}

</body>
</html>
