{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" ng-app="dk">
<head>
  <meta charset="UTF-8">
  <title>
    {% block title %}
      disaster_kit
      {% if globalvars.build != 'prod' %}
        (dev)
      {% endif %}
    {% endblock %}
  </title>

{% comment %}
************************************************************
* STYLESHEETS
************************************************************
{% endcomment %}

{% block stylesheets %}
{# local import for debug/dev builds #}
{% if globalvars.build == 'dev' %}
  <link rel="stylesheet" href="{% static 'libs/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'libs/bootstrap.css' %}">
{# CDN imports for prod builds #}
{% else %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
{% endif %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}
</head>

{% comment %}
************************************************************
* BODY
************************************************************
{% endcomment %}

<body ng-controller="MainCtrl as main">

<div class="container">
  {% include 'items/partials/pageheader.html' %}
  <div id="main-content" class="row">
    {% block content %}
    {% endblock %}
  </div>
</div>

{% comment %}
************************************************************
* SCRIPT IMPORTS
************************************************************
{% endcomment %}

{% block scripts %}
{# local import for local/dev builds #}
{% if globalvars.build == 'dev' %}
  <script src="{% static 'libs/jquery.js' %}"></script>
  <script src="{% static 'libs/underscore.js' %}"></script>
  <script src="{% static 'libs/bootstrap.js' %}"></script>
  <script src="{% static 'libs/angular.js' %}"></script>
  <script src="{% static 'libs/angular-messages.js' %}"></script>
  <script src="{% static 'libs/angular-ui-router.js' %}"></script>

  <script src="{% static 'app/app.js' %}"></script>
  <script src="{% static 'app/main-controller.js' %}"></script>
  <script src="{% static 'app/categories/list/category-list-controller.js' %}"></script>
  <script src="{% static 'app/categories/list/category-list-service.js' %}"></script>
  <script src="{% static 'app/categories/row/category-row-directive.js' %}"></script>
  <script src="{% static 'app/items/create/item-create-controller.js' %}"></script>
  <script src="{% static 'app/items/create/item-create-service.js' %}"></script>
  <script src="{% static 'app/items/detail/item-detail-controller.js' %}"></script>
  <script src="{% static 'app/items/form/item-form-directive.js' %}"></script>
  <script src="{% static 'app/items/list/item-list-controller.js' %}"></script>
  <script src="{% static 'app/items/list/item-list-service.js' %}"></script>
  <script src="{% static 'app/items/row/item-row-directive.js' %}"></script>
  <script src="{% static 'app/items/update/item-update-controller.js' %}"></script>
{# CDN imports for staging/prod builds #}
{% else %}
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-messages.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
  <script src="{% static 'app/app.min.js' %}"></script>
{% endif %}
{% endblock %}

</body>
</html>
