{% extends 'items/layout.html' %}

{% block content %}
  <div class="row">
    <div id="item_details_table" class="{{ page_vars.sixcols }} dk-form">
      <table class="u-full-width">
        <tr>
          <td><strong>Name:</strong></td>
          <td ng-hide="main.editing">{{ object.name }}</td>
          <td ng-show="main.editing">
            <input type="text" ng-model="main.edits.name">
          </td>
        </tr>
        <tr>
          <td><strong>Category:</strong></td>
          <td ng-hide="main.editing">{{ object.fk_category }}</td>
          <td ng-show="main.editing">
            <select name="" id=""></select>
          </td>
        </tr>
        <tr>
          <td><strong>Sub-category:</strong></td>
          <td ng-hide="main.editing">{{ object.fk_subcategory }}</td>
          <td ng-show="main.editing">
            <select name="" id=""></select>
          </td>
        </tr>
        <tr>
          <td><strong>Count:</strong></td>
          <td ng-hide="main.editing">{{ object.count }}</td>
          <td ng-show="main.editing">
            <input type="text" ng-model="main.edits.count">
          </td>
        </tr>
        <tr>
          <td><strong>Expiration:</strong></td>
          <td ng-hide="main.editing">{{ object.date_of_expiration }}</td>
          <td ng-show="main.editing">
            <input type="text" ng-model="main.edits.expiration">
          </td>
        </tr>
        <tr>
          <td><strong>Added on:</strong></td>
          <td>{{ object.date_added }} by {{ object.added_by }}</td>
        </tr>
        <tr>
          <td><strong>Notes:</strong></td>
          <td ng-hide="main.editing">{{ object.notes }}</td>
          <td ng-show="main.editing">
            <input type="text" ng-model="main.edits.notes">
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    {# edit item button #}
    <div class="three columns offset-by-three">
      <button class="button button-primary"
              ng-click="main.onEditClick({{ object.id }})"
              ng-bind="main.editButtonLabel">Edit</button>
      {# cancel editing button #}
      <button ng-click="main.stopEditing()"
              ng-show="main.editing">Cancel</button>
    </div>

    {# delete item button #}
    <div class="three columns">
      <button class="u-pull-right"
              ng-click="main.deleteItem({{ object.id }})">Delete</button>
    </div>
  </div>
{% endblock %}
