<div class="row">
  <div class="col-md-8">

    {% if user.is_authenticated %}
      <span id="app_title" class="bold_text">disaster_kit
      </span>
      <small>v.{{ globalvars.version }}</small>
      {% if globalvars.build.build != 'prod' %}
        (dev)
      {% endif %}
      <span id="app-nav">
        <a ui-sref="dk.item_list">Home</a> |
        <a ui-sref="dk.item_create">Add an Item</a> |
        <a ui-sref="dk.category_list">Categories</a>
      </span>
    {% endif %}

  </div>
  <div class="col-md-4">

    {# display user name and admin link (if user is admin) #}
    {% if user.is_authenticated %}
      <span class="u-pull-right">
        Logged in as <strong>{{ user.username }}</strong>
        {% if user.is_staff %}
          <a href="/admin/"><em>(admin)</em></a>
        {% endif %}
        | <a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>
      </span>
    {% endif %}

  </div>
</div>
