{% extends 'items/layout.html' %}

{% block title %}
  Login
{% endblock title %}

{% block content %}
  <div class="row dk-form">
    <div class="five columns offset-by-three">
      <form method='post' action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}

        {# name input #}
        <div id="input-name">
          <label class="u-full-width" for="id_username">Name:</label>
          <input class="u-full-width" type="text" id="id_username" name=username>
        </div>

        {# password input #}
        <div id="input-password">
          <label for="id_password">Password:</label>
          <input class="u-full-width" type="password" id="id_password" name="password">
        </div>

        <input class="button button-primary" type="submit" value="Submit">

        {% if form.errors %}
          <br>
          <p class="error">There were errors logging you in. Please try again.</p>
        {% endif %}
      </form>
    </div>
  </div>
{% endblock content %}
