{% extends 'items/layout.html' %}

{% block title %}
  Login
{% endblock title %}

{% block content %}
  <div class="container">

    <div id="login-form" class="row">
      <div class="five columns offset-by-three">
        <form method='post' action="{% url 'django.contrib.auth.views.login' %}">
          {% csrf_token %}

          <div>
            <label class="u-full-width" for="login_name">Name:</label>
            <input class="u-full-width" type="text" id="id_username" name=username>
          </div>

          <div>
            <label for="login_password">Password:</label>
            <input class="u-full-width" type="password" id="id_password" name="password">
          </div>

          <button type="submit">Submit</button>

          {% if form.errors %}
            <br>
            <p class="error">There were errors logging you in. Please try again.</p>
          {% endif %}
        </form>
      </div>
    </div>

  </div>
{% endblock content %}
