<div class="row">
  <div id="item_details_table" class=" six columns offset-by-three dk-form">
    <table class="u-full-width">
      <tr>
        <td><strong>Name:</strong></td>
        <td ng-bind="itemDetailCtrl.item.name"></td>
      </tr>
      <tr>
        <td><strong>Category:</strong></td>
        <td ng-bind="itemDetailCtrl.item.cat"></td>
      </tr>
      <tr>
        <td><strong>Sub-category:</strong></td>
        <td ng-bind="itemDetailCtrl.item.subcat"></td>
      </tr>
      <tr>
        <td><strong>Count:</strong></td>
        <td ng-bind="itemDetailCtrl.item.count"></td>
      </tr>
      <tr>
        <td><strong>Expiration:</strong></td>
        <td ng-bind="itemDetailCtrl.item.exp"></td>
      </tr>
      <tr>
        <td><strong>Added on:</strong></td>
        <td>
          <span ng-bind="itemDetailCtrl.item.date_added"></span> by
          <span ng-bind="itemDetailCtrl.item.added_by"></span>
        </td>
      </tr>
      <tr>
        <td><strong>Notes:</strong></td>
        <td ng-bind="itemDetailCtrl.item.notes"></td>
      </tr>
    </table>
  </div>
</div>

<div class="row">

  <div class="three columns offset-by-three">
    <button class="button button-primary"
            ui-sref="dk.item_update({'id': itemDetailCtrl.item.id})">Edit</button>
    <button ui-sref="dk.item_list">Back</button>
  </div>

  <div class="three columns">
    <button class="u-pull-right"
            ng-click="itemDetailCtrl.deleteItem()">Delete</button>
  </div>
</div>
