<div id="items-display">
  <div class="row">
    <div class="twelve columns">
      <a class="button button-primary"
         ng-click="itemListCtrl.goToItemCreateView()">Add</a>
    </div>
  </div>

  <div class="row">
    <table class="u-full-width">
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Sub-Category</th>
        <th>Count</th>
        <th>Date Added</th>
        <th>Expiration</th>
      </tr>
      <tr ng-repeat="item in itemListCtrl.items">
        <td><a ui-sref="dk.item_detail({'id': item.id})"
               ng-bind="item.name"></a></td>
        <td ng-bind="item.cat"></td>
        <td ng-bind="item.subcat"></td>
        <td ng-bind="item.count"></td>
        <td ng-bind="item.date_added"></td>
        <td ng-bind="item.exp"></td>
      </tr>
    </table>
  </div>
</div>
