body {
  padding: 20px;
}

.main-content {
  padding-top: 40px;
}

.error {
  color: red;
}

/*****************************
form styles
******************************/

.form-header {
  color: white;
  background-color: #999;
  border: solid 2px #888;
  text-align: center;
}


#login-form {
  margin-top: 140px;
}

#items-display {
  padding-top: 40px;
}
