body {
  padding: 10px;
  background: white;
}

.container {
  max-width: 1000px;
}

/**********************************
 * text styles
 **********************************/

.error_text {
  color: red;
}

.bold_text {
  font-weight: bold;
}

/**********************************
 * GUI styles
 **********************************/

.btn-dk-control {
  border: 1px solid #ccc;
  background-color: #fff;
}

/**********************************
 * form styles
 **********************************/

.dk-form {
}

.form-header {
  color: white;
  background-color: #999;
  border: solid 2px #888;
  text-align: center;
}

/**********************************
 * ID styles
 **********************************/

#main-content {
  padding-top: 45px;
}

#app-nav {
  margin-left: 20px;
}

#loading-indicator {
  margin-top: 25%;
  text-align: center;
}

#items-display {
  margin-top: 40px;
}
