body {
  padding: 10px;
  background: white;
}

.main-content {
  padding-top: 65px;
}

/**********************************
 * text styles
 **********************************/

.error_text {
  color: red;
}

.bold_text {
  font-weight: bold;
}

/**********************************
 * form styles
 **********************************/

.dk-form {
  margin-top: 60px;
}

.form-header {
  color: white;
  background-color: #999;
  border: solid 2px #888;
  text-align: center;
}

/**********************************
 * ID styles
 **********************************/

#app-nav {
  margin-left: 20px;
}

#items-display {
  margin-top: 40px;
}
