body {
  padding: 10px;
  padding-top: 50px;
  background: #E7EDF5;
}

.container {
  max-width: 1000px;
}

.panel {
  .panel-buffer {
    //margin: 15px;
  }

  .panel-table {
    //border: 1px solid #ddd;
    margin-bottom: 0;
    th, td {
      padding-left: 16px;
    }
  }
}


/**********************************
 * text styles
 **********************************/

.error_text {
  color: red;
}

.bold_text {
  font-weight: bold;
}

/**********************************
 * GUI styles
 **********************************/

.btn-dk-control {
  border: 1px solid #ccc;
  background-color: #fff;
}

/**********************************
 * form styles
 **********************************/

.dk-form {
}

.dk-panel {
  margin-top: 35px;
}

.form-header {
  color: white;
  background-color: #999;
  border: solid 2px #888;
  text-align: center;
}

/**********************************
 * ID styles
 **********************************/

#main-content {
  padding-top: 45px;
}

#app-nav {
  margin-left: 20px;
}

#loading-indicator {
  margin-top: 25%;
  text-align: center;
}

#items-display {
  margin-top: 40px;
}
